[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = git@github.com:adlawren/.spacemacs.d.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:adlawren/oh-my-zsh.git
[submodule ".qutebrowser"]
	path = .qutebrowser
	url = git@github.com:adlawren/.qutebrowser.git
[submodule ".config/openbox"]
	path = .config/openbox
	url = git@github.com:adlawren/openbox-config.git
